<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ESebo</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
        }
        </style>
    </head>
    <body>

    <header>
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                    <!-- start here -->
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-md-offset-12 ui middle aligned center aligned grid">
                                    <div class="login-panel panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Login</h3>
                                        </div>
                                        <div class="panel-body">
                                            <input type="hidden" class="form-control">
                                                <div class="row g-3">
                                                    <div class="col-sm-15">
                                                        <label for="username" class="form-label">Username</label>
                                                        <input type="text" class="form-control" id="username" placeholder="" value="" required="">
                                                    </div>
                                                    
                                                    <div class="col-sm-15">
                                                        <label for="email" class="form-label">E-mail</label>
                                                        <input type="text" class="form-control" id="email" placeholder="" value="" required="">
                                                    </div>

                                                    <div class="col-sm-15">
                                                        <label for="password" class="form-label">Password</label>
                                                        <input type="password" class="form-control" id="password" placeholder="" value="" required="">
                                                    </div>

                                                    <div class="btn-group">
                                                        <button type="submit" onclick="doRegister()" id="btn-send-data" class="w-100 btn btn-primary btn-lg">Login</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
    </body>
</html>